doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset='utf-8')

	body
		.email-container
			.email-header
				.email-center

					a.email-logo(href="//site.com")
						img(src="img/logo.png", alt="Logo")

					.email-social-wrap
						a(href="#")
							img(src="img/soc_twitter.png", alt="Alt")
						a(href="#")
							img(src="img/soc_vk.png", alt="Alt")
						a(href="#")
							img(src="img/soc_fb.png", alt="Alt")

					.email-header-top.
						Самое лучшее предложение <br>из всех, которые вы получали

					a(href="#").email-button Подробнее

			.email-content
				.email-center		
					.email-teaser-wrap
						.email-teaser-item
							img(src="img/icon_1.png", alt="Alt")
							p Унас есть лапки
						.email-teaser-item
							img(src="img/icon_2.png", alt="Alt")
							p ... и бумажные самолетики
						.email-teaser-item
							img(src="img/icon_3.png", alt="Alt")
							p Кроме того, у еас есть чемодан

					a(href="#").email-sale-text Заказывая сейчас - получаете скидку

					.email-product-wrap
						.email-product-item
							a(href="#")
								img(src="img/items/1.jpg", alt="Alt")
							.mail-price 2 000 грн
							a(href="#").order-button Заказать
						.email-product-item
							a(href="#")
								img(src="img/items/2.jpg", alt="Alt")
							.mail-price 2 000 грн
							a(href="#").order-button Заказать
						.email-product-item
							a(href="#")
								img(src="img/items/3.jpg", alt="Alt")
							.mail-price 2 000 грн
							a(href="#").order-button Заказать
						.email-product-item
							a(href="#")
								img(src="img/items/4.jpg", alt="Alt")
							.mail-price 2 000 грн
							a(href="#").order-button Заказать
			
		.email-footer.
			ООО "Лучшее предложение" <a href="#">Отписаться от рассылки</a>


